#post {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    /* margin-left: 470px;  */
    /* margin-right: 470px; */
    margin-left: auto;
    margin-right: auto;
}

#loginWelcome {
    text-align: right;
}

#name {
    text-align: left;
    font-size: 20px;
}

#time {
    text-align: left;
}

#postBody {
    text-align: left;
}
#postInfo {
    text-align: left;
}

/* #signOut {
    border-style: solid;
    border-width: 1px;
    width: 70px;
    text-align: center;
} */

.feature {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

#userimage {
  padding-left: 35px;
}

.tab {
    text-align: center;
}

#heading {
    text-align: center;
}

img.profpic{
  border-radius: 50%;
  margin-top:10px;
}

.heart:hover {
  background-color: #cc4b37;
}
