@import url('https://fonts.googleapis.com/css?family=Assistant|Noto+Serif+JP');
#body {
  /*background-color:  #bccad6;*/
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  font-family: 'Noto Serif JP', sans-serif;
}
.question, .recommendation{
  background-color: white;
}
.collapse {
  background-color: white;
}
#home-title {
  text-align: center;
}
.logo {
  /*text-decoration: none;*/
  font-family: SignPainter;
  font-size: 60px;
  text-align: center;
}
#home-link:link {
  text-decoration: none;
}
#home-link:hover {
  text-decoration-line: none;
  color: #337ab7;
}

#post {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-left: 470px;
    margin-right: 470px;*/
    margin: auto;
}

#loginWelcome {
    text-align: right;
}

#name {
    text-align: left;
    font-size: 20px;
}

#time {
    text-align: center;
    margin-left: -90px;
}

#postBody {
    text-align: left;
}
#postInfo {
    text-align: left;
}

/* #signOut {
    border-style: solid;
    border-width: 1px;
    width: 70px;
    text-align: center;
} */

.feature {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}

#userimage {
  padding-left: 35px;
}

.user-basics {
  padding-left: 20%;
  padding-bottom: 200px;
}

.category {
  padding-left: 25%;
}

.big-profpic{
  border-radius: 50%;
}

body {
  padding-top: 10px;
  padding-bottom: 25px;
}

/* formatting picture, name & time within text box */
.profpic {
  margin-left: -50px;
  border-radius: 50%;
}
#name {
  margin-left: -45px;
  margin-top: 25px;
}
#time {
  margin-right: 160px;
  margin-left: -68px;
  width: 100px;
}
.feature {
  text-align: center;
  margin-left: -30px;
  width: 400px;
}
/* styles comments on question posts */
#q-firstcomment, #q-secondcomment, #q-thirdcomment {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* styles comments on recommendation posts */
#r-firstcomment, #r-secondcomment {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* styles reply div underneath comments */
#commentName {
  text-align: left;
  margin-left: -28px;
  font-size: 21px;
}
.reply {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  width: 400px;
  height: 225px;
  margin-left: -42px;
}
/* the actual text box */
.replyBox {
  width: 300px;
  height: 100px;
  resize: none;
}
.replyButton {
  margin-left: 200px;
  margin-top: 10px;
}
/* when there are 0 comments */
#q-nocomment {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  width: 400px;
  height: 225px;
  margin-left: -42px;
}
#q-secondNocomment {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  width: 400px;
  height: 225px;
  margin-left: -42px;
}
#r-nocomment {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  width: 400px;
  height: 225px;
  margin-left: -42px;
}
.comment-profpic {
  margin-left: -50px;
  border-radius: 50%;
  text-align: left;
  margin-left: 13px;
  margin-top: 10px;
}
